.pgdiv1{
   
    align-items: center;
    justify-content: center;
    text-align: center;
}
.pgdiv2{
   
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 50vh;
    margin-left: 500px ;
    margin-right: 500px;
    margin-top: 150px;
} 
.btn{
    background-color: darkblue !important;
    border-radius: 10px !important;
    color: white !important;
}
.pgh1{
    margin-top: 20px;
    padding-top: 100px;
}